.search(ng-controller="Search_Bar_Controller")
    form(ng-submit="submit()")
        ul.display-inline
            li.half-width
                div.logo.logosearch
            li.half-width
                if global.custom.custom_navigation.logo == '/logos/for_the_journey_logo.jpg'
                    div.logosearch(style="background-image:url(" + global.custom.custom_navigation.logo + ");margin-top:auto;background-size: 90% !important")
                else
                    div.logosearch(style="background-image:url(" + global.custom.custom_navigation.logo + ") !important")
        div
            button.btn-search(ng-click='toggle_Mobile_Dropbox()')
                icon.Menu
            ul.technology(ng-show='show_Mobile_Dropbox()')
                li(ng-repeat='technology in technologies')
                    a(href='#' ng-click ='select_Technology_Mobile(technology)') {{technology.title}}

            select(ng-model='selected_Technology'
            ng-style= 'set_Style()'
            ng-change='select_Technology(selected_Technology)'
            ng-options='technology as technology.title for technology in technologies')
            input.search-input#search-text(type="text", ng-model="text", placeholder="{{searchPlaceholder}}",
            ng-change='get_Words(text)', ng-focus='with_Focus(true)'
            ng-blur='with_Focus(false)'
            autocomplete="off" autocorrect="off" autocapitalize="off"
            style='flex:90%')
            button.btn-search#search-button(type="submit")
                icon.Search

div(ng-controller="Recommendations_Controller")
    ul#recommendations(ng-show='words.length > 0')
        li(ng-repeat='word in words' value='word' ng-click='select_Word(word)') {{word}}