include globals.jade

//- Save and Share Results
mixin results-save-share
  section.row__label
    if results
      if results.size() > 25
        td
          .label.no-underline#resultsTitle= results.take(25).size() + '/' + results.size() + ' results showing'
      else
        td
          .label.no-underline#resultsTitle= results.take(25).size() + ' results showing'
      ul.display-inline
        li
          //a.button.btn-result.icon-Filter(href='#right-nav') aaaaaaa
          a.button.btn-result.icon-Filter(href='')
        //li
          +save-results-button
        //li
          +share-results-button

//- Start View
mixin start-view
  section.row
      section.row__label
          .label Popular Search Terms
      section.row
          +search-term-list
  section.row
      section.row__label
          .label Recently Viewed Articles
      section.row
          //+articles-list
  section.row
      section.row__label
          .label Top Articles
      section.row
          //+articles-list

//- Articles List
mixin articles-list
  if results
    each result,index in results.take(10)
      if result && result.id && result.title
        article.result
          .metadata
            ul
                //li
                  span.label.no-underline
                    +tick-icon
                    span   Seen
                li
                  +filter-icon('Technology',result.technology)
                li
                  +filter-icon('Type', result.type)
                li
                  +filter-icon('Phase', result.phase)
                //li
                    +save-button
                //li
                    +share-button
          .summary
            a(href='/flare/article/' + result.id.remove('article-') + '/' + result.title.replace(/ /g,'-').remove('.'), id=result.id)
                h3#article-headline= result.title
            p= result.summary + '...'

//- Search Results List
mixin search-term-list
  article.search-term
    a(href='app-keyword-search')
      +search-icon
      span Search Term
  article.search-term
    a(href='app-keyword-search')
      +search-icon
      span Search Term
  article.search-term
    a(href='app-keyword-search')
      +search-icon
      span Search Term

//- Flare Filters Div
mixin filters-div
  aside#right-nav
    if filters
      a.button.btn-minor(href='#')
        +close-icon
      form#filters
        for filter in filters
          .label
            +filters-icon
            span.text= ' ' + filter.title
          for result in filter.results
            if result.size > 0
              //a(href=href + '/'+result.id)
              input(type="checkbox" id=result.title)
              label(for=result.title)
                +filter-icon(filter.title, result.title)
                span.badge= result.size

//- Pagination
mixin pagination
  section.row.pagination
    .previous
      +back-icon
    .number
      select
        option(value='1') 1
        option(value='2') 2
        option(value='3') 3
    .next
      +forward-icon