mixin editor-navbar
  dt.editor
    form.text-center
      div
        input(type='radio' name='editor' value='add' id='add')
        label(for='add') Add
      div
        input(type='radio' name='editor' value='edit' id='edit')
        label(for='edit')
          +edit-icon
      div
        input(type='radio' name='editor' value='move' id='move')
        label(for='move') Move
      div
        input(type='radio' name='editor' value='delete' id='delete')
        label(for='delete')
          +delete-icon

mixin editor-directory
  dl
    dt
      span.label.no-underline Title
      span.sub-nav__icon
        +back-icon
    if(containers)
      #containers.scroll
        each container in containers
          if container.size > 0
            a(href= href + container.id , id=container.id)
              dd
                span.text= container.title
                span.badge= container.size
    +editor-navbar

mixin directory-add
  dl
    dt
      span.label.no-underline Title
      span.sub-nav__icon
        +back-icon
    if(containers)
      #containers.scroll
        each container in containers
          if container.size > 0
            a(href= href + container.id , id=container.id)
              dd
                span.text= container.title
                span.badge= container.size
    dd
      form
        label(for='add-directory') Add new directory
        section.row
          .col-10
            input(type='text' id='add-directory')
          .col-2
            button.btn-editor(type='submit')
              +tick-icon
    +editor-navbar

mixin directory-edit
  dl
    dt
      span.label.no-underline Title
      span.sub-nav__icon
        +back-icon
    if(containers)
      #containers.scroll
        each container in containers
          if container.size > 0
            a(href= href + container.id , id=container.id)
              dd
                span.text= container.title
                span.badge= container.size
    dd
      form
        label(for='edit-directory') Edit directory
        section.row
          .col-8
            input(type='text' id='edit-directory')
          .col-2
            button.btn-editor(type='submit')
              +tick-icon
          .col-2
            button.btn-editor.cancel(type='submit')
              +close-icon
    +editor-navbar

mixin directory-delete
  dl
    dt
      span.label.no-underline Title
      span.sub-nav__icon
        +back-icon
    if(containers)
      #containers.scroll
        each container in containers
          if container.size > 0
            a(href= href + container.id , id=container.id)
              dd
                span.text= container.title
                span.badge= container.size
    dd
      form
        section.row
          .col-8
            label(for='delete-directory') Are you sure you want to delete this?
          .col-2
            button.btn-editor(type='submit')
              +tick-icon
          .col-2
            button.btn-editor.cancel(type='cancel')
              +close-icon
    +editor-navbar