// Getting Started

mixin username-input
    label Username
    input(type='text', id='username', placeholder='Username',  ng-model='username',required=)

mixin password-input
    label(for='password') Password
    input(type='password', id='password', placeholder='Password',ng-model='password',required,maxlength='256')

mixin confirm-password-input
  label(for='confirmpassword') Confirm Password
  input(type='password', id='confirmpassword', name='confirmpassword',ng-model='confirmpassword',placeholder='Password',value='#{viewModel?viewModel.confirmpassword:""}',required,maxlength='256')

mixin email-input
  label(for='email') Email Address
  input(type='email', id='email', name='email',ng-model='email', placeholder='Email Address',value='#{viewModel?viewModel.email:""}',required,maxlength='256')

mixin first-name-input
  label(for='firstname') First Name
  input(type='text', id='firstname', name='firstname',ng-model='firstname', placeholder='First Name',value='#{viewModel?viewModel.firstname:""}',required,maxlength='100')

mixin last-name-input
  label(for='lastname') Last Name
  input(type='text', id='lastname', name='lastname',ng-model='lastname', placeholder='Last Name',value='#{viewModel?viewModel.lastname:""}',required,maxlength='100')

mixin company-input
  label(for='company') Company
  input(type='text', id='company', name='company',ng-model='company',  placeholder='Company',value='#{viewModel?viewModel.company:""}',maxlength='100')

mixin title-input
  label(for='title') Job/Title
  input(type='text', id='title', name='title',ng-model='title', placeholder='Job/Title',value='#{viewModel?viewModel.title:""}',maxlength='100')

mixin country-input
  label(for='country') Country
  input(type='text', id='country', name='country',ng-model='country', placeholder='Country',value='#{viewModel?viewModel.country:""}',required,maxlength='100')

mixin state-input
  label(for='state') State
  input(type='text', id='state', name='state',ng-model='state', placeholder='State',value='#{viewModel?viewModel.state:""}',maxlength='100')
// User Inputs

mixin name-input
    label Name
    input(type='text', id='name', placeholder='Full Name', ng-model='name')

mixin title-input
    label Title
    input(type='text', id='title', placeholder='Title')

mixin company-input
    label Company
    input(type='text', id='company', placeholder='Company')
