mixin links-navbar__landing-page
  ul.display-inline
    li
      a(ui-sref="about") About
    li
      a(ui-sref="features") Features
    li
      a(ui-sref="docs") Docs
    li
      a(ui-sref="start") Get Started

mixin left-navigation
  aside#left-nav
    ul
      li
        a(href='/flare/navigate')
          +index-icon
      li
        a(href='/flare/help-index')
          +info-icon
      li
        a(href='/flare/index')
          +logout-icon

mixin navigate
  dl
    dt
      if title
        span.label.no-underline= title
        span.sub-nav__icon
          +back-icon
    if(containers)
      #containers.scroll
        each container in containers
          if container.size > 0
            a(href= href + ',' +container.id , id=container.id)
              dd
                span.text= container.title
                span.badge= container.size

mixin help-navigation
  if library
    each view in library.Views
      dl.help
        dt.vertical-align
          span.label.no-underline= view.Title
        .scroll
        each article in view.Articles
          dd
            a(href= '/flare/help/' + article.Id)= article.Title

mixin help-content
  #help.bg.content
    if title
      h1#help-title= title
    #help-content!= content