include ../mixins/icons.jade
include ../mixins/globals.jade

#right-nav
  if filters
    //a.button.btn-minor(href='#')
      +close-icon
    form#filters
      for filter in filters
        .label
          +filters-icon
          span.text= ' ' + filter.title
        for result in filter.results
          if result.size > 0
            //a(ng-href=href + '/'+result.id)
            a(ng-href='#')
              input(type="checkbox" id=result.title)
              label(for=result.title)
                +show-icon(filter.title, result.title)
                span.badge= result.size